body {
  background-image: url(wow.jpg);
  background-repeat: round;
  background-attachment: fixed;
}

* {
  margin: 0;
  padding: 0;
}

a {
  color: white;
  font-family: courier;
}

p {
  color: white;
}

.img {
  background-repeat: no-repeat;
  background-size: 10%;
}
.nav {
  border: 2px solid #cd9575;
  display: flex;
  flex-flow: row wrap;
  height: 80px;
  background-color: rgb(211, 51, 51);
}
.yes {
  color: aqua;
  text-align: center;
  flex: 0 1 29%;
  padding: 25px;
  font-size: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

.column {
  float: left;
  width: 102px;
  height: 50px;
  padding: 10px;
  font-size: 16px;
  background-color: #ff7900;
  border: 1px solid #cd9575;
  text-align: center;
}

.div1 {
  float: left;
  width: 49%;
  height: 400px;
  color: #cd9575;
  border: 2px solid #cd9575;
}

.div2 {
  float: left;
}
.div3 {
  float: left;
}

.div4 {
  float: left;
}

.sleep {
  border: 2px solid orange;
  color: #fffdd0;
  font-size: 18px;
}

.cut {
  background-image: url(cut.jpg);
  width: 63%;
  height: 450px;
  margin-left: 270px;
}

.footer {
  width: 100%;
  height: 190px;
  background: #1b1b1b;
  color: white;
}
.ex:hover {
  background-color: #ff9966;
  font-size: 18px;
  font-family: monospace;
}
a.ex:hover,
a.ex:active {
  text-decoration: underline;
  font-size: 22px;
}

.ex:link {
  text-decoration: none;
}
}

@media screen and (max-width: 600px) {
  
  }
